<!DOCTYPE HTML>
<html LANG="es">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta http-equiv="Last-Modified" content="{{now.strftime('%Y-%m-%d %H:%M:%S')}}">
    <link rel="alternate" type="application/rss+xml" 
      title="RSS Biblio Agenda" 
      href="./agenda.rss"
    />
    <title>Biblio Agenda</title>
    <link rel="stylesheet" href="rec/main.css">
    <script type="text/javascript" src="rec/sort_table.js"></script>
    <script src="rec/main.js" type="text/javascript"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{favicon}}</text></svg>">
    <base target="_blank">
  </head>
  <body>
  <main>
    {% set edades = info.events|map(attribute='edad')|unique|sort %}
    <p>
      Actividades en bibliotecas de Madrid
      para <abbr title="{{edades | ojoin}}">adultos</abbr>
      en horario de tarde o en fin de semana.
    </p>
  <p>Puedes suscribirte a este <a href="agenda.rss" class="rss">RSS</a>
    para recibir actualizaciones.</p>


  {% set zonas = info.biblios|map(attribute='zona')|unique|sort %}
  {% set tipos = info.events|map(attribute='tipo')|unique|sort %}
  <p>
    <label for="zona">Zona</label>: <select id="zona">
      <option value="">TODAS</option>
      <option value="madrid">Madrid municipio</option>
      {% for x in zonas %}
      <option value="{{x|simplify}}">{{x}}</option>
      {% endfor %}
    </select>

    <label for="tipo">Tipo</label>: <select id="tipo">
      <option value="">TODOS</option>
      {% for x in tipos %}
      <option value="{{x|simplify}}">{{x}}</option>
      {% endfor %}
    </select>
  </p>

  {% set items = info.events|sort(attribute='fecha, tipo, actividad') %}
    <table>
      <thead>
        <tr class="sortme">
          <th class="isSortable str">Hora</th>
          <th class="isSortable str isSortedByMe">Fecha</th>
          <th class="isSortable str">Actividad</th>
          {#<th class="isSortable str">Edad</th>#}
          {#<th class="isSortable str">Tipo</th>#}
          <th class="isSortable str">Lugar</th>
        </tr>
      </thead>
      <tbody>
      {% for p in items %}
      {% set b = info.get_biblio(p) %}
      <tr>
        <td>{{p.hora}}</td>
        <td>{{"<br/>".join(p.fecha) | safe}}</td>
        <td>
          <span data-tipo="{{p.tipo | simplify}}">{{p.tipo}}</span><br/>
          <a href="{{p.url}}">{{p.actividad}}</a></td>
        {#<td>{{p.edad}}</td>#}
        {#<td>{{p.tipo}}</td>#}
        <td>
          <span data-zona="{{b.zona | simplify}}{{' madrid' if b.is_madrid else ''}}">{{', '.join(b.zonas)}}</span><br/>
          <a href="{{b.mapa or b.url}}">{{p.lugar}}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <fieldset>
      <legend>RSS por zonas</legend>
      <div class="grid">
        <a href="agenda/madrid.rss" class="rss">Madrid Municipio</p>
      {% for zona in info.get_zonas() %}
        <a href="agenda/{{zona|simplify}}.rss" class="rss">{{zona}}</p>
      {% endfor %}
      </div>
    </fieldset>
    <p>
      Los eventos han sido extraídos y filtrados 
      <a href="{{url.agenda}}">del portal del lector</a> y 
      <a href="{{url.regional}}">la biblioteca regional</a>,
      si quiere consultar el listado completo acuda a las
      webs de origen.
    </p>
  </main>
	<footer>
		<p>
		Código fuente en <a href="https://github.com/s-nt-s/biblioagenda">GitHub</a>.
    Si falla o tienes alguna sugerencia pon un <a href="https://github.com/s-nt-s/biblioagenda/issues">issue</a>.
		</p>
	</footer>
  </body>
</html>
